body {
    background-color: #ecf0f1;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

#searchInput {
    width: 15vw;
    margin-right: 3vw;
    border: none;
    border-bottom: 2px solid rgba(209, 207, 207, 0.75);
    outline: none;
    color: black;
    background-color: #ecf0f1;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
}

#selectInput {
    width: 10vw;
    border: none;
    border-bottom: 2px solid rgba(209, 207, 207, 0.75);
    outline: none;
    color: black;
    background-color: #ecf0f1;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
}